:root {
    --primary: #000;
    --secondary: rgb(137, 137, 137);
    --bg: #fff;
}

::selection {
    color: #fff;
    background-color: salmon;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url("../images/bg.jpg");
    align-items: center;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7%;
    background-image: url("../images/bg.jpg");
    border-bottom: 1px solid #513c28;
    /* justify-content: start; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: var(--primary);
}

.navbar .navbar-nav a {
    color: #000;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

#hamburger-menu {
    display: none;
}

/* Hero Section */
.hero, .pembahasan, .bahasan1 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    /* background-color: #fff; */
    position: relative;
}

.hero::after, .pembahasan::after, .bahasan1::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
}

.hero .content, .pembahasan .content, .bahasan1 .informasi {
    padding: 5rem 7%;
    /* background-color: red; */
    /* max-width: 60rem; */
}

.hero .content h1 {
    font-size: 3rem;
    margin-top: 1rem;
    /* line-height: 1.4; */
    font-weight: 700;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content h1 span {
    color: rgba(255, 255, 255, 0.7);
}

.hero .content p, .pembahasan .content p {
    font-size: 1.5rem;
    font-weight: 300;
}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: #000;
    border: 2px solid #fff;
    box-shadow: 10px 10px 0px #000;
    margin-right: 20px;
    transition: 0.2s linear;
}

.hero .content .cta:hover {
    opacity: 0.5;
    /* background-color: rgba(0, 0, 0, 0.6); */
}

.hero .content .cta-saran {
    display: inline-flex;
    font-size: 1.4rem;
    color: #fff;
    margin-top: 20px;
    transition: 0.4s linear;
}

.hero .content .cta-saran:hover {
    opacity: 0.5;
    border-bottom: 2px solid #fff;
}

/* Team Section */
.team {
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

.wrapper {
    margin-left: 20%;
    max-width: 1100px;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}

.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    color: #000;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
    left: -22px;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    /* background: #fff; */
    background-image: url("../images/bg.jpg");
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
}

.carousel .card .img {
    background: #505050;
    height: 148px;
    width: 148px;
    border-radius: 50%;
}

.card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
}

.carousel .card h2 {
    font-weight: 500;
    font-size: 1.4rem;
    margin: 30px 0 5px;
}

.carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
}

/* Saran Section */
.saran {
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

.form-container {
    margin-left: 35%;
    margin-bottom: 50px;
    width: 500px;
    height: 350px;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    transition: height 0.2s ease;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
}

.form-container.active {
    height: 590px;
}

.form-container .form-wrapper {
    width: 1000px;
    display: flex;
}

.form-container .form-wrapper section {
    width: 500px;
    background-image: url("../images/bg.jpg");
}

.form-container img {
    cursor: pointer;
}

.form-container .post {
    transition: margin-left 0.18s ease;
}

.form-container.active .post {
    margin-left: -500px;
}

.post header {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    padding: 17px 0;
    text-align: center;
    border-bottom: 1px solid #bfbfbf;
}

.post form {
    margin: 20px 25px;
}

.post form .content,
.audience .list li .column {
    display: flex;
    align-items: center;
}

.post form .content img {
    cursor: default;
    max-width: 52px;
}

.post form .content .details {
    margin: -3px 0 0 12px;
}

form .content .details p {
    font-size: 17px;
    font-weight: 500;
}

form :where(textarea, button) {
    width: 100%;
    outline: none;
    border: none;
}

form textarea {
    color: #fff;
    resize: none;
    font-size: 18px;
    margin-top: 30px;
    min-height: 100px;
    background: transparent;
}

form textarea::placeholder {
    color: rgba(211, 211, 211, 1);
}

form textarea:focus::placeholder {
    color: rgba(211, 211, 211, 0.5);
}

form button {
    height: 53px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #BCC0C4;
    cursor: no-drop;
    border-radius: 7px;
    background: #e2e5e9;
    transition: all 0.3s ease;
}

form textarea:valid~button {
    color: #fff;
    cursor: pointer;
    background: #4599FF;
}

form textarea:valid~button:hover {
    background: #1a81ff;
}

/* Footer Section */
footer {
    text-align: center;
    padding: 1.5rem;
    padding-bottom: 2rem;
    /* background-image: url("../images/bg.jpg");
    background-position: left bottom; */
    /* margin-top: 2rem; */
}

footer .credit {
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #000;
    font-size: 0.9rem;
    font-weight: 700;
    background-image: url("../images/bg.jpg");
    background-position: left;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.23);
}

footer .credit a {
    color: #000;
    font-weight: 700;
}

footer .credit a:hover {
    color: rgb(92, 176, 255);
}

footer .credit p {
    color: #000;
}

/* Box Icon */
box-icon {
    cursor: pointer;
    transform: scale(2);
    margin-left: 30px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    padding: 2px;
    transition: 0.3s linear;
}

box-icon:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
}

i {
    margin-top: 5px;
    color: #fff;
}

/* Custom Tooltip */
abbr {
    font-style: italic;
    position: relative
}

abbr:hover::after {
    color: #fff;
    font-size: 1rem;
    background: salmon;
    border-radius: 10px;
    bottom: 100%;
    content: attr(title);
    display: block;
    left: 100%;
    padding: 1em;
    position: absolute;
    width: 260px;
    z-index: 1;
}

/* Pembahasan Section */
.pembahasan .content h1 {
    font-size: 5rem;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.pembahasan .content .breadcrumb span {
    color: #000;
    font-size: 1.5rem;
    font-weight: 300;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.pembahasan .content .breadcrumb a {
    color: #000;
    transform: scaleX(0);
    border-bottom: 1px solid #000;
}

.pembahasan .content .breadcrumb a:hover {
    transform: scaleX(0.5);
    /* border-bottom: 2px solid #000; */
}

.pembahasan ul li a {
    color: #000;
    text-decoration: none;
}

.pembahasan ul li a:hover {
    border-bottom: 1px solid #000;
}

.pembahasan ul li {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* Bahasan1 Section */
.bahasan1 .informasi h2 {
    font-size: 3rem;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.bahasan1 .informasi h2 span {
    font-size: 1.5rem;
}

.bahasan1 .informasi .penyusun {
    display: inline-flex;
    align-items: center;
    padding-left: 10px;
    padding: 8px;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.bahasan1 .informasi .penyusun img {
    border: 1px solid #000;
    border-radius: 50%;
    box-shadow: 2px 2px 3px #000;
}

.bahasan1 .informasi .penyusun p {
    padding-left: 10px;
}

.bahasan1 .informasi .penyusun span {
    color: #000;
    font-weight: 700;
    font-size: 1rem;
}

.bahasan1 .informasi .content {
    margin-top: 30px;
    margin-left: 10px;
}

.bahasan1 .informasi .content p {
    font-size: 1.2rem;
    /* text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5); */
}

/* Media Queries */
/* Laptop */
@media only screen and (max-width: 1366px) {
    html {
        font-size: 70%;
    }
}

/* Tablet */
@media only screen and (max-width: 900px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid #000;
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: #000;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }

    .hero .content p {
        font-size: 3rem;
    }

    .hero .content .cta {
        font-size: 2.3rem;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .wrapper {
        margin-left: 0%;
    }

    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }

    .carousel .card h2 {
        font-size: 2rem;
    }

    .carousel .card span {
        font-size: 2rem;
    }

    .form-container {
        margin-left: 20%;
        width: 500px;
        height: 415px;
    }

    form :where(textarea, button) {
        width: 100%;
        margin-top: 5%;
    }

    form textarea {
        min-height: 150px;
    }
}

/* Mobile Phone */
@media only screen and (max-width: 600px) {
    html {
        font-size: 55%;
    }

    .navbar .navbar-logo {
        font-size: 3.0rem;
    }

    abbr:hover::after {
        opacity: 0;
    }

    .wrapper {
        margin-left: 0;
    }

    .wrapper i {
        font-size: 4rem;
    }

    .wrapper .carousel {
        grid-auto-columns: 100%;
    }

    .carousel .card h2 {
        font-size: 2rem;
    }

    .carousel .card span {
        font-size: 2rem;
    }

    .form-container {
        margin-left: 1%;
        width: 380px;
        height: 415px;
    }

    .post header {
        margin-left: -20%;
    }

    form :where(textarea, button) {
        width: 74%;
        margin-top: 5%;
    }

    form textarea {
        min-height: 150px;
    }

    .bahasan1 .informasi .penyusun img {
        transform: scale(0.8);
    }

    .bahasan1 .informasi .penyusun p {
        font-size: 1.5rem;
        padding-left: 5px;
    }

    .bahasan1 .informasi .penyusun span {
        color: #000;
        font-weight: 700;
        font-size: 1.5rem;
    }
}